{% extends 'base.html' %}
{% block title %} Task Assistant{% endblock title %} 
{% block body %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <h4 class="sidebar-heading border-bottom bg-light mx-3">Weeks</h4>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week1">Week-1</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week2">Week-2</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week3">Week-3</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week4">Week-4</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week5">Week-5</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week6">Week-6</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week7">Week-7</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week8">Week-8</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week9">Week-9</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week10">Week-10</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/taskAssistant/week11">Week-11</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <!-- Showing resources, taking it to right, and link for resouces for particular week. -->

                    {% block button %}
                        
                    {% endblock button %}
                    <h1 class="mt-4">
                        {% block heading %}
                        
                        {% endblock heading %}
                    </h1>
                    <p>
                        {% block content %}

                        {% endblock content %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock body %}