{% extends 'taskAssistant.html' %}

{% block button %}

<button class="btn btn-primary" style="position:absolute;right:20px;"><a style="color:white;text-decoration:none;"
        href="https://docs.google.com/presentation/d/1VdpJXRiryUTLBFkZeC5uCm7U7CGP35r_ZmZCaLt1u-w/edit?usp=sharing"
        target="_blank">View Resources</a></button>

{% endblock button %}

{% block heading %}

Week 9

{% endblock heading %}

{% block content %}
<div>
    <h5>
        Let's Visualise Concepts taught till Now!!
    </h5>
    <h4>
        Static Array
    </h4>
    <div>

        Just a variable which stores
        multiple values of similar data
        type.
        Imagine
        parking spots but only 7 cars are
        present and this is the disadvantage of
        static array as they have fixed sizes
        which leads to memory wastage.
    </div>
    <div>

        <h4>
            Dynamic Array
        </h4>
        <div>

            Also an Array but size isn't fixed and elements can be added or removed.
            Imagine, Speaking of dynamic arrays in real life, the list of students at a
            university can serve as an illustration because the list can be
            updated with each student's entry and exit.
        </div>
        <h4>

            Loops in Array
        </h4>
        For Loops, iterates a control
        variable from one value to
        another.
        Now imagine,
        see there are so many
        ways to access a car but the
        most efficient way would be using a
        For Loop such that we can access all the
        cars at once by their number plates,
        brand or colour. Like we have
        accessed the blue cars.
    </div>

    <h4>
        Synopsis
    </h4>
    <div>

        For storing data as a list in any programming
        language, we use a new data structure that
        we call an Array. Let's consider if I want to
        store the ages of 5 students, I will simply
        make an array of size 5 such that the ages of
        those 5 students will be stored in list form.
        But if we don't know how many students I have
        to write the ages of and memory holds
        importance for me, I will use a Dynamic Array
        instead of a static one. Also, now for
        accessing the age of any student I have to
        specify the index of them every time but here
        we can use a for loop for accessing all of
        them quickly and efficiently.
    </div>

</div>
{% endblock content %}