{% extends 'taskAssistant.html' %}

{% block button %}

<button class="btn btn-primary" style="position:absolute;right:20px;"><a style="color:white;text-decoration:none;"
        href="https://docs.google.com/presentation/d/1VdpJXRiryUTLBFkZeC5uCm7U7CGP35r_ZmZCaLt1u-w/edit?usp=sharing"
        target="_blank">View Resources</a></button>

{% endblock button %}

{% block heading %}

Week 8

{% endblock heading %}

{% block content %}
<div>
    <div>

        <h4>

            Functions, Procedures, and Structures
            </h4>
            These helps to manage the program's complexity as a
            whole. Since this function calls multiple arrays at once, structures greatly simplify our work.
            When introducing fresh data and corresponding features to our "knight," establishing a
            "kingdom", and developing tools. But, in order to debug the errors that arose, I needed to
            devote my full focus to this
    </div>
    <div>
        <h4>
            Iteration
        </h4>
        Iteration enables us to streamline our algorithm by indicating that specific steps will be
        repeated unless we specify differently. Additionally, the while and for loops are used
        to complete this iteration
    </div>
</div>

{% endblock content %}