{% extends 'taskAssistant.html' %}

{% block button %}

<button class="btn btn-primary" style="position:absolute;right:20px;"><a style="color:white;text-decoration:none;"
        href="https://docs.google.com/presentation/d/1VdpJXRiryUTLBFkZeC5uCm7U7CGP35r_ZmZCaLt1u-w/edit?usp=sharing"
        target="_blank">View Resources</a></button>

{% endblock button %}

{% block heading %}
week 5
{% endblock heading %}

{% block content %}
<div>

    So, in the meantime, I created a Splashkit Game; it may be difficult for beginners to understand all of the
    functions,
    but it is certain that one can learn a lot from it. The following is a link to the
    <a rel="stylesheet"
        href="https://drive.google.com/file/d/1oDB96wJJGiFOpdxGVf5_h6UDTTdtZ4n1/view" target="_blank">
        Game Project's project files.
    </a>
    <br>
    This game basically spawns a space ship that can move and rotate in any direction, and there are powerups that spawn at
    random times, some of which may be dangerous to the space ship and some of which are useful, such as fuel, coins, xp, and so on.
    <h5>
        This game is an excellent example of how complex programs can be easily handled.
    </h5>
</div>
{% endblock content %}