{% extends 'taskAssistant.html' %}

{% block button %}

<button class="btn btn-primary" style="position:absolute;right:20px;"><a style="color:white;text-decoration:none;"
        href="https://docs.google.com/presentation/d/1VdpJXRiryUTLBFkZeC5uCm7U7CGP35r_ZmZCaLt1u-w/edit?usp=sharing"
        target="_blank">View Resources</a></button>

{% endblock button %}

{% block heading %}
Week 2
{% endblock heading %}

{% block content %}
<h4>
    <br>
    TASK 1 OF WEEK 2:
</h4>
<div>
    This task was about creating a program by using variables, constants and basic knowledge of functions to collect
    user’s inputs and store the corresponding data in memory with the desired data types.
    <br>
    At that time, for me, the hard part to understand was the formation and declaration of a function. Another hard
    thing for me was to understand the use of constants and variables within the function.
    <br>
    So, the solution for this problem is quite easy, We just need to declare a global constant at the start of the
    program and we can use the same later on within our program.
    <br>
    For example, in this task, we’ve declared a global constant named STROUHAL with a value of 0.33 which we later used
    in the function calculate_air_speed as the following way:
</div>
<pre><code class="language-cpp"></code>
    double calculate_air_speed (int frequency, int amp) 
    {	
        return frequency*amp*0.01 / STROUHAL; 
    }
</code></pre>

<h4>
    <br>
    TASK 2 OF WEEK 2:
</h4>
<div>
    The basic goal for this task is to analyse and critique the quality of a program.
    <br>
    • For this task we must have an understanding of the basic concepts taught in week 1, also we must have knowledge of
    variables, constants, global variables, global constants and the formation & declaration of the functions.
    <br>
    • We must have a knowledge of indentation and spacing patterns.
    <br>
    • We must also have a knowledge of providing the appropriate comments for a certain block of code.
    <br>
    • We must also have a proper knowledge of naming an identifier.
</div>
{% endblock content %}